/**
 * Created by zhangxin on 2017/12/29.
 * 
 */
$color1 : #2a93ed;/*主要字体颜色*/
$wrapperColor: #edeef2;
$whiteColor: #ffffff;
$fontColor: #3d464d;
$iconColor: #3186fb;
$green: #01e0a4;
/**
 * 混合器声明 start
*/
@mixin containerWidth{
  //@media screen and (min-width:1300px){
  //  .container {
  //    width: 1300px;
  //  }
  //}
  //@media screen and (min-width:1400px){
  //  .container {
  //    width: 1350px;
  //  }
  //}
  //@media screen and (min-width:1600px){
  //  .container {
  //    width: 1500px;
  //  }
  //}
  //@media screen and (min-width:1920px){
  //  .container {
  //    width: 1600px;
  //  }
  //}
}
@mixin fullScreen {
  height: 100%;
}
@mixin rotate180{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
@mixin rotateN($deg){
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}
@mixin transition($time){
  -webkit-transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -ms-transition: all $time ease-in-out;
  -o-transition: all $time ease-in-out;
  transition: all $time ease-in-out;
}
@mixin clearfix{
  &:before,
  &:after{
    content: ' ';
    display: table;
  }
  &:after{
    clear: both;
  }
}
@mixin to-right-linear-gradient($startColor,$endColor){
  background-image: -webkit-linear-gradient(to right,$startColor,$endColor);
  background-image: -webkit-gradient(linear, 0 0, left right, from($startColor), to($endColor));
  background-image: -moz-linear-gradient(to right,$startColor,$endColor);
  background-image: -ms-linear-gradient(to right,$startColor,$endColor);
  background-image: -o-linear-gradient(to right,$startColor,$endColor);
  background-image: linear-gradient(to right,$startColor,$endColor);
}
@mixin left-bottom-icon{
  width: 0;
  height: 0;
  border-bottom: 8px solid $color1;
  border-right: 8px solid transparent;
}
@mixin circleRaidus3($circleRadius,$circleColor){
  content: ' ';
  display: inline-block;
  width: $circleRadius;
  height: $circleRadius;
  background-color: $circleColor;
  -webkit-border-radius: $circleRadius;
  -moz-border-radius: $circleRadius;
  border-radius: $circleRadius;
  vertical-align: text-top;
}
@mixin circleTranBorder($width,$border,$boxShadow){
  margin-left: auto;
  margin-right: auto;
  width: $width;
  height: $width;
  border: $border;
  -webkit-border-radius: $width;
  -moz-border-radius: $width;
  border-radius: $width;
  -webkit-box-shadow:  0 0 21px rgba(5,174,238,.63);
  -moz-box-shadow:  0 0 21px rgba(5,174,238,.63);
  box-shadow:  0 0 21px rgba(5,174,238,.63);
}
@mixin borderRadius($size){
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  border-radius: $size;
}
@mixin text-color($color){
  color: $color;
}
@mixin text-orange{
  color: #ff784e;
}
@mixin text-red{
  color: #ff403b;
}
@mixin text-green{
  color: #08c17b;
}