/**
 * Created by zhangxin on 2018/5/18.
 * 权限面板
 */
@import "common_var";

.jurisdiction-box{
  @include clearfix;
  .jurisdiction-item{
    float: left;
    width: 20%;
    padding: 0 10px;
    &:first-child{
        padding-left:  0;
    }
    &:last-child{
      padding-right: 0;
    }
    label{
      margin-bottom: 0;
      width: 100%;
      font-weight: 400;
      cursor: pointer;
    }
    .children-menu {
      padding-left: 27px;
    }
    .panel{
      border-color: #2a93ed;
      .panel-heading{
        border-radius: 0;
        background-color: #2a93ed;
        .panel-title{
          color: #fff;
          font-size: 16px;
          text-align: center;
        }
      }
    }
  }
  &.jurisdiction-vertical{
    .jurisdiction-item{
      float: none;
      width: 100%;
      padding: 0;
    }
    label{
      width: auto;
      padding: 3px;
      white-space: nowrap;
    }
    .panel{
      .panel-heading{
        .panel-title{
          text-align: left;
        }
      }
      td{
        vertical-align: middle;
      }
    }
  }
}