/**
 * Created by zhangxin on 2018/5/9.
 * 左侧导航的样式
 */
@import "common_var";
.left-nav{
  float: left;
  width: 200px;
  padding: 20px 0;
  @include fullScreen;
  background-color: #26303a;
  ul.nav{
    margin-bottom: 0;
    border: none;
    .current .icon-down:before{
      content: "\e7eb";
    }
    >li{
      -webkit-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      -ms-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      >a{
        position: relative;
        padding: 12px 15px;
        transition: all 1s ease-in-out;
        &:before{
          display: none;
          content: ' ';
          position: absolute;
          left:0;
          top:0;
          bottom:0;
          width: 4px;
          background-color: $color1;
        }
        &:hover,
        &:focus{
          &:before{
            display: none;
          }
          color: $whiteColor;
          background-color: transparent;
        }
      }
      >a,
      .iconfont{
        color: $whiteColor;
      }
      .iconfont{
        font-size: 16px;
      }
      &.active{
        >a{
          background-color: #36414b;
          color: $whiteColor;
          &:before{
            display: block;
          }
        }
      }
      &.current{
        >.sub-nav{
          display: block;
        }
      }
    }
    &.sub-nav{
      display: none;
      >li{
        >a{
          padding-left: 36px;
          color: #8a93a9;
        }
      }
    }
  }
}