/**
 * Created by zhangxin on 2018/1/3.
 * 
 */
@import "common_var";
.modal{
  .modal-header{
    .modal-title{
      font-size: 14px;
      color: $iconColor;
    }
  }
  .modal-body{
    .tishi{
      .iconfont{
        font-size: 16px;
        color: #ff784e;
      }
      .iconfont,
      span{
        display: inline-block;
        vertical-align: middle;
      }
      padding: 6px 10px;
      background-color: #fffeeb;
      border: 1px solid #f7f6cd;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
  }
}
.form-horizontal .control-label-333{
  color:#333;
}
.form-horizontal .form-group-col-2{
  width: 50%;
  display: inline-block;
}
.To_20{
  width:100%;
  border: 1px solid #c0c0c0;
  height: 100px;
  overflow: auto;
  >p{
    float: left;
    width: 31%;
    margin: 1% 1%;
    >span{
      display: inline-block;
      margin-right: 1px;
      vertical-align: middle;
    }
    >.span_url{
      width:50%;
      overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
    }
  }
}
.group-padding {
  padding-left: 15px;
  padding-right: 15px
}