/**
 * Created by zhangxin on 2017/12/26.
 * 
 */
@import "common_var";
.panel-title{
  .btn-right-title{
    line-height: 34px;
  }
}
.panel-line-primary{
  @include borderRadius(0);
  border: 1px solid #ebebec;
  .panel-heading{
    border-bottom: none;
    .panel-title{
      font-size: 16px;
      font-weight: 400;
      &.fs18{
        font-size: 18px;
      }
      a.fs18{
        color: #333;
        &:hover{
          color: $iconColor;
        }
      }
      &.big-text{
        font-size: 34px;
      }
      .text-blue {
        color: $color1;
      }
      .btn-right-title{
        position: relative;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        &:after{
          /*content: ' ';
          position: absolute;
          left: 0;
          right: 0;
          height: 1px;
          bottom: -11px;
          background-color: #3385ff;*/
          content: ' ';
          position: absolute;
          margin-top: -8px;
          left: 0;
          width: 4px;
          height: 16px;
          top: 50%;
          background-color: #3385ff;
        }
      }
    }
  }
  .panel-body{
    border-top: none !important;
    position: relative;
      /*.input-group{
        width: 100px;
        height: 160px;
        position: absolute;
        right: 200px;
        top: 0px;
        img{
          width: 100%;
          height: 85%;
        }
        >button{
          width: 100%;
        }

      }*/
    }
  }
.bottom_line{
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.panel{
  >.no-padding{
    padding:0px;
  }
  .panel-heading-gray {
    background-color: #f5f5f5;
    .panel-title {
      font-size: 14px;
      color: $color1;
    }
    .pull-right a,
    .pull-right a .iconfont {
      font-size: 14px;
      color: $color1;
    }
  }
}