@charset "UTF-8";
/**
 * Created by zhangxin on 2017/12/28.
 * 
 */
html,
body {
  background-color: #ffffff;
}

body {
  font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,微软雅黑,STHeitiSC-Light,simsun,宋体,WenQuanYi Zen Hei,WenQuanYi Micro Hei,'sans-serif';
  font-size: 13px;
  color: #666666;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #b8b8b8;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #b8b8b8;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #b8b8b8;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #b8b8b8;
}

pre {
  background-color: #f5f5f5;
  white-space: pre-wrap;
  /*css-3*/
  white-space: -moz-pre-wrap;
  /*Mozilla,since1999*/
  white-space: -pre-wrap;
  /*Opera4-6*/
  white-space: -o-pre-wrap;
  /*Opera7*/
  word-wrap: break-word;
  /*InternetExplorer5.5+*/
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.footer {
  color: #777;
  padding: 30px 0;
  border-top: 1px solid #e5e5e5;
}

.footer-top .about > div {
  min-height: 110px;
  margin-bottom: 10px;
}

.footer-top .about > div h4 {
  color: #563d7c;
  font-size: 16px;
}

.footer a {
  color: #777;
}

/*面板*/
.panel-title .btn-right-title {
  line-height: 34px;
}

/*按钮*/
.btn-box .btn + .btn {
  margin-left: 15px;
}

.bootstrap-select.form-control:not([class*=col-]) .btn {
  width: 100%;
  padding-right: 20px;
}

.bootstrap-select.form-control:not([class*=col-]) .btn .caret {
  right: 10px;
}

.checkbox-box {
  padding-top: 7px;
}

html,
body {
  height: 100%;
}

body {
  background-image: url("../images/login_manage_bg.jpg");
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  background-repeat: no-repeat;
}

.logo-box {
  padding: 50px 70px;
}

.login-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 543px;
  margin-left: -272px;
  padding: 60px 75px 70px;
  margin-top: -270px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 21px rgba(109, 109, 109, 0.81);
          box-shadow: 0 0 21px rgba(109, 109, 109, 0.81);
  background-color: rgba(255, 255, 255, 0.86);
}

.login-panel .login-title {
  margin: 0 0 55px;
  font-size: 32px;
  font-weight: 400;
}

.login-panel .form-horizontal {
  margin: 0 auto;
}

.login-panel .form-horizontal .icon-input-group {
  position: relative;
  margin-bottom: 28px;
}

.login-panel .form-horizontal .icon-input-group .iconfont {
  position: absolute;
  left: 20px;
  top: 12px;
  font-size: 24px;
  color: #515151;
}

.login-panel .form-horizontal .icon-input-group input.form-control {
  height: 60px;
  padding-left: 50px;
  border-radius: 0;
  color: #000000;
  border-color: #949494;
}

.login-panel .form-horizontal .icon-input-group label {
  font-weight: 400;
}

.login-panel .form-horizontal .btn-group {
  text-align: center;
  width: 100%;
}

.login-panel .form-horizontal .btn-group .btn {
  width: 100%;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #2a93ed;
  border-color: #2a93ed;
}
