@charset "UTF-8";
/**
 * Created by zhangxin on 2018/1/3.
 * 
 */
/**
 * Created by zhangxin on 2017/12/29.
 * 
 */
/*主要字体颜色*/
/**
 * 混合器声明 start
*/
.modal .modal-header .modal-title {
  font-size: 14px;
  color: #3186fb;
}

.modal .modal-body .tishi {
  padding: 6px 10px;
  background-color: #fffeeb;
  border: 1px solid #f7f6cd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.modal .modal-body .tishi .iconfont {
  font-size: 16px;
  color: #ff784e;
}

.modal .modal-body .tishi .iconfont,
.modal .modal-body .tishi span {
  display: inline-block;
  vertical-align: middle;
}
